.post__navigation {
  max-width: 680px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: 0 auto;
  font-size: 16px;
  padding: 48px 20px 0px 20px;
  color: gray;
  cursor: pointer;
}

.post__navigation__active {
  color: black;
  font-weight: 600;
}

.post__list {
  min-height: 90vh;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post__box__header {
  display: flex;
  justify-content: space-between;
}

.post__profile__box {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 9px;
}

.post__profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: lightgrey;
}

.post__author__email,
.post__date {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  height: 100px;
  color: dimgray;
  font-size: 14px;
  overflow: hidden;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__utils__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  color: gray;
}

.post__delete,
.post__edit {
  cursor: pointer;
  padding: 0 5px;
}

.post__delete:focus,
.post__delete:hover,
.post__edit:focus,
.post__edit:hover {
  color: black;
}
