.post__navigation {
  max-width: 680px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: 0 auto;
  font-size: 16px;
  padding: 48px 20px 0px 20px;
  color: var(--hover);
  cursor: pointer;
}

.post__navigation__active {
  color: black;
  font-weight: 600;
}
